*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(21, 21, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: bgcolor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
body > div {
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  height: 100%;
  width: 12.5%;
  top: 0;
}
body > div:nth-of-type(1) {
  left: 0%;
}
body > div:nth-of-type(2) {
  left: 12.5%;
}
body > div:nth-of-type(3) {
  left: 25%;
}
body > div:nth-of-type(4) {
  left: 37.5%;
}
body > div:nth-of-type(5) {
  left: 50%;
}
body > div:nth-of-type(6) {
  left: 62.5%;
}
body > div:nth-of-type(7) {
  left: 75%;
}
body > div:nth-of-type(8) {
  left: 87.5%;
}
body > div:nth-of-type(1) {
  background-color: pink;
  animation-name: bg;
}
body > div:nth-of-type(2) {
  background-color: orange;
  animation-name: bg;
}
body > div:nth-of-type(3) {
  background-color: yellowgreen;
  animation-name: bg;
}
body > div:nth-of-type(4) {
  background-color: rgb(30, 203, 242);
  animation-name: bg;
}
body > div:nth-of-type(5) {
  background-color: rgb(33, 35, 163);
  animation-name: bg;
}
body > div:nth-of-type(6) {
  background-color: rgb(200, 26, 200);
  animation-name: bg;
}
body > div:nth-of-type(7) {
  background-color: yellow;
  animation-name: bg;
}
body > div:nth-of-type(8) {
  background-color: rgb(235, 45, 61);
  animation-name: bg;
}
body > div:nth-of-type(9) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 40%;
  font-size: 100px;
  transform: rotate(90deg);
  animation-name: icon1;
}
body > section {
  width: 70%;
  height: 400px;
  position: relative;
}
body > section > .circles {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body > section > .circles > * {
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
body > section > .circles span {
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: white;
}
body > section > .circles > .bigCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
body > section > .circles > .bigCircle:nth-of-type(1) {
  background-color: pink;
  animation-name: bigcircles1;
}
body > section > .circles > .bigCircle:nth-of-type(1) > span {
  animation-name: span1;
}
body > section > .circles > .bigCircle:nth-of-type(2) {
  background-color: orange;
  animation-name: bigcircles2;
}
body > section > .circles > .bigCircle:nth-of-type(2) > span {
  animation-name: span2;
}
body > section > .circles > .bigCircle:nth-of-type(3) {
  background-color: greenyellow;
  animation-name: bigcircles3;
}
body > section > .circles > .bigCircle:nth-of-type(3) > span {
  animation-name: span3;
}
body > section > .circles > .bigCircle:nth-of-type(4) {
  background-color: rgb(30, 203, 242);
  animation-name: bigcircles4;
}
body > section > .circles > .bigCircle:nth-of-type(4) > span {
  animation-name: span4;
}
body > section > .circles > .bigCircle:nth-of-type(5) {
  background-color: rgb(33, 35, 163);
  animation-name: bigcircles5;
}
body > section > .circles > .bigCircle:nth-of-type(5) > span {
  animation-name: span5;
}
body > section > .circles > .bigCircle:nth-of-type(6) {
  background-color: rgb(200, 26, 200);
  animation-name: bigcircles6;
}
body > section > .circles > .bigCircle:nth-of-type(6) > span {
  animation-name: span6;
}
body > section > .circles > .bigCircle:nth-of-type(7) {
  background-color: yellow;
  animation-name: bigcircles7;
}
body > section > .circles > .bigCircle:nth-of-type(7) > span {
  animation-name: span7;
}
body > section > .circles > .bigCircle:nth-of-type(8) {
  background-color: rgb(235, 45, 61);
  animation-name: bigcircles8;
}
body > section > .circles > .bigCircle:nth-of-type(8) > span {
  animation-name: span8;
}
body > section > .circles > .bigCircle:nth-of-type(9) {
  background-color: bisque;
  animation-name: bigcircles9;
}
body > section > .circles > .bigCircle:nth-of-type(9) > span {
  animation-name: span9;
  color: balck;
}
body > section > .circles > .bigCircle > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body > section > .circles > .bigCircle > div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: inherit;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 35px 50%;
  animation-name: span1;
}
body > section > .circles > .bigCircle > div:nth-of-type(1) {
  transform: translate(-50%, -50%) rotateZ(0deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(2) {
  transform: translate(-50%, -50%) rotateZ(30deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(3) {
  transform: translate(-50%, -50%) rotateZ(60deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(4) {
  transform: translate(-50%, -50%) rotateZ(90deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(5) {
  transform: translate(-50%, -50%) rotateZ(120deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(6) {
  transform: translate(-50%, -50%) rotateZ(150deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(7) {
  transform: translate(-50%, -50%) rotateZ(180deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(8) {
  transform: translate(-50%, -50%) rotateZ(210deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(9) {
  transform: translate(-50%, -50%) rotateZ(240deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(10) {
  transform: translate(-50%, -50%) rotateZ(270deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(11) {
  transform: translate(-50%, -50%) rotateZ(300deg) translate(80px);
}
body > section > .circles > .bigCircle > div:nth-of-type(12) {
  transform: translate(-50%, -50%) rotateZ(330deg) translate(80px);
}

@keyframes span1 {
  0% {
    background-color: rgba(255, 255, 255, 0.607);
  }
  57% {
    background-color: rgba(255, 255, 255, 0);
  }
  65% {
    background-color: red;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles1 {
  0% {
    transform: translateY(-900px);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: scale(2.5);
  }
  12% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles2 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: scale(2.5);
  }
  22% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles3 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  15% {
    transform: translateY(0);
  }
  25% {
    transform: scale(2.5);
  }
  27% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles4 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: scale(2.5);
  }
  32% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles5 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  25% {
    transform: translateY(0);
  }
  35% {
    transform: scale(2.5);
  }
  37% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles6 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: scale(2.5);
  }
  42% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles7 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  35% {
    transform: translateY(0);
  }
  45% {
    transform: scale(2.5);
  }
  47% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles8 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: scale(2.5);
  }
  52% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes bigcircles9 {
  0% {
    transform: translateY(-900px);
    color: inherit;
  }
  45% {
    transform: translateY(0);
  }
  55% {
    transform: scale(2.5);
  }
  57% {
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes span1 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  40% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: pink;
    font-size: 30px;
  }
  65% {
    background-color: pink;
    font-size: 30px;
  }
  66% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span2 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: orange;
  }
  65% {
    font-size: 30px;
    background-color: orange;
  }
  67% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span3 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: yellowgreen;
  }
  65% {
    font-size: 30px;
    background-color: yellowgreen;
  }
  68% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span4 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: rgb(30, 203, 242);
  }
  65% {
    font-size: 30px;
    background-color: rgb(30, 203, 242);
  }
  69% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span5 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: rgb(33, 35, 163);
  }
  65% {
    font-size: 30px;
    background-color: rgb(33, 35, 163);
  }
  70% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span6 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: rgb(200, 26, 200);
  }
  65% {
    font-size: 30px;
    background-color: rgb(200, 26, 200);
  }
  71% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span7 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: yellow;
  }
  65% {
    font-size: 30px;
    background-color: yellow;
  }
  72% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span8 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: rgb(235, 45, 61);
  }
  65% {
    font-size: 30px;
    background-color: rgb(235, 45, 61);
  }
  73% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span9 {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  45% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
  }
  65% {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
  }
  73% {
    background-color: rgba(255, 255, 255, 0);
  }
  88% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  70% {
    width: 12.5%;
  }
  81% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes icon1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  95% {
    opacity: 1;
    left: 70%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bgcolor {
  0% {
    background-color: 21, 21, 40;
  }
  80% {
    background-color: rgb(21, 21, 40);
  }
  85% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}/*# sourceMappingURL=master.css.map */